<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TDFS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>log4jConfiguration</param-name>
    <param-value>classpath:log-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.weakie.initialize.ServerListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>FileReaderServlet</display-name>
    <servlet-name>FileReaderServlet</servlet-name>
    <servlet-class>com.weakie.web.FileReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileReaderServlet</servlet-name>
    <url-pattern>/FileReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileListServlet</display-name>
    <servlet-name>FileListServlet</servlet-name>
    <servlet-class>com.weakie.web.FileListServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>baseDir</param-name>
      <param-value>/home</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileListServlet</servlet-name>
    <url-pattern>/FileListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.weakie.web.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>